In [1]:
!pip install pandas numpy scikit-learn matplotlib seaborn joblib

Requirement already satisfied: pandas in d:\lib\site-packages (2.2.2)
Requirement already satisfied: numpy in d:\lib\site-packages (2.0.0)
Requirement already satisfied: scikit-learn in d:\lib\site-packages (1.5.2)
Requirement already satisfied: matplotlib in d:\lib\site-packages (3.9.0)
Requirement already satisfied: seaborn in d:\lib\site-packages (0.13.2)
Requirement already satisfied: joblib in d:\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: scipy>=1.6.0 in d:\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in d:\lib\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: contourpy>=1.0.1 in d:\lib\site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in d:\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in d:\lib\site-packages (from matplotlib) (4.53.0)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in d:\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in d:\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: six>=1.5 in d:\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
columns = [
    "age", "sex", "cp", "trestbps", "chol", "fbs", "restecg",
    "thalach", "exang", "oldpeak", "slope", "ca", "thal", "target"
]

In [6]:
df = pd.read_csv("../../data/heart.csv", names=columns, na_values='?')

In [7]:
df.shape

(303, 14)

In [8]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          4
thal        2
target      0
dtype: int64

In [9]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [10]:
df['ca'] = df['ca'].fillna(df['ca'].median())

In [11]:
df['thal'] = df['thal'].fillna(df['thal'].mode()[0])

In [12]:
df['target'] = np.where(df['target'] > 0, 1, 0)

In [14]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [15]:
df['target'].value_counts()

target
0    164
1    139
Name: count, dtype: int64

In [16]:
df.to_csv("../../data/heart_clean.csv", index=False)